/* Navigation {
  background: url(https://cdn.pixabay.com/photo/2017/https/12/23/29/background-texture-2635740_960_720.jpg)
    no-repeat;
  background-size: 100%;
  padding: 25px;
} */
.Link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #f56403;
  font-size: 25px;
}

.ActiveLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  font-size: 25px;
  color: #2d9b01;
}
