.MovieArticle {
  display: flex;
}
.Image {
  max-width: 300px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 2px 2px #2d9b019c, -1em 0 0.4em #f5640336;
}
.Text {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  color: #f56403;
}
.Card {
  margin-right: 25px;
  margin-left: 30px;
}
.OverView {
  font-size: 20px;
  font-weight: 500;
}
.Box {
  max-width: 700px;
}
.Genres {
  list-style: none;
}
